@use 'vars';

.DailyShop {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    gap: 30px;
    place-content: center;
}

@media (max-width: 640px){
    .DailyShop {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
    }
}
