@use 'vars';

body {
  background-color: var(--very-dark);
  font-family: 'Fredoka One', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

h2 {
  color: var(--white);
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}