.item-without-bundle-img {
  width: 340px;
  height: 340px;
  border-radius: 20px;
  object-fit: cover;
}

.item-without-bundle-name,
.item-without-bundle-description {
  padding: 8px;
  text-align: center;
}