.ItemFeaturedShop {
  width: 360px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 50%);
}

.item-featured-shop-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.vbuck {
  width: 3rem;
  height: 3rem;
}

.item-featured-shop-content {
  display: grid;
  grid-template-columns: repeat(2, 140px);
}

.item-featured-shop-content p {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}


.item-featured-shop-img {
  width: 340px;
  height: 340px;
  border-radius: 20px;
  object-fit: cover;
}

