.ItemDailyShop {
  width: 360px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 50%);
}

.item-daily-shop-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
