.ItemFeaturedShop {
  width: 360px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 50%);
}

.item-featured-shop-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.item-featured-shop-img {
  width: 340px;
  height: 340px;
  border-radius: 20px;
  object-fit: cover;
}

.item-featured-shop-info p:nth-child(3) {
  padding: 8px;
  text-align: center;
}
