@use 'vars';

.ItemWithoutBundle {
  width: 360px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}

.item-without-bundle-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.vbuck {
  width: 3rem;
  height: 3rem;
}

.item-without-bundle-content {
  display: grid;
  grid-template-columns: repeat(2, 140px);
}

.item-without-bundle-content p {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.item-without-bundle-shop-img {
  width: 340px;
  height: 340px;
  border-radius: 20px;
  object-fit: cover;
}

.item-without-bundle-name {
  padding: 8px;
  text-align: center;
}

@media (max-width: 640px){
  .ItemWithoutBundle {
    width: 140px;
  }

  .item-without-bundle-shop-img {
    width: 130px;
    height: 130px;
  }

  .item-without-bundle-content {
    display: grid;
    grid-template-columns: repeat(1, 140px);
    font-size: 14px;
  }

  .item-without-bundle-name {
    font-size: 14px;
  }

  .item-without-bundle-content p {
    gap: 0;
  }

  .vbuck {
    width: 1.5rem;
    height: 1.5rem;
  }
}